
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Globals
label{
  font-weight: 700;
}
.table th, .table td{
  background: white;
}

// Layout
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.dashboard .card{
  margin-bottom: 15px;
}
.dashboard .card .card-body{
  height: 80px;
  display: block;
}
